
</body>
<footer class="footer">
        <section class="foot_text">
            <p>주소: 경기도 화성시 봉담읍 최루백로 72 협성대학교</p>
        </section>
        <section class="foot_license">
            <p>Copyright 2021. 김태훈 all rights reserved.</p>
        </section>
</footer>
</html>