<!DOCTYPE HTML>
<html>
<head>
    <title>Alphabet</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="theme-color" content="#FFFFFF">
    <link rel="stylesheet" href="/css/commons.css">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
</head>
<body>
<nav class="navigation">
    <ul class="nav_items">
        <li class="nav_home"><img class="logo" src="/img/home.png" /></li>
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/logo 1.png"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
        <li class="nav_ham float_right" onclick="openNav()">&#9776;</li>
    </ul>
    <div id="mySidenav" class="nav_side">
        <a class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/introduction">소개</a>
        <a href="/history">기록</a>
        <a href="/contact">가입</a>
        <a href="/board">게시판</a>
    </div>
</nav>