<!DOCTYPE HTML>
<html>
<head>
    <title>Alphabet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/commons.css">
    <link rel="icon" href="../static/img/abc-block.svg"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>