<div class="foot" style="clear: both;">
    <div class="foot_text">
        <p>주소: 경기도 화성시 봉담읍 최루백로 72 협성대학교</p>
    </div>
    <div class="foot_text">
        <a href="https://www.uhs.ac.kr/sites/uhs/index.do">협성대학교 / </a>
        <a href="/mirror">협성대학교 boj 그룹 / </a>
        <a href="/mirror">알파벳 boj 그룹</a>
    </div>
    <div class="foot_license">
        <p>Copyright 2021. 김태훈 all rights reserved.</p>
    </div>
</div>
</backward>
</body>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2500);
    }
</script>
</html>