/*
    init
*/

:root {
    --ItemHeight: 70px;
    --ItemTextSZ: 50px;
    --LogoHight: 40px;
    --NavFontsize: 30px;
    --NavHeight: 50px; /* fontsize+paddingtop */
    --PaddingContent: 70px; /* NavHeight+paddingtop */

    --HalfNavHeight: 25px;
    --HalfItemHeight: 35px;
    --HalfLogoHight: 20px;
    --HalfNavFontsize: 15px;

}

html, body, div, span, ul, li,
nav, main, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Bazzi, sans-serif;
}

nav, section, main {
    display: block;
}

body {
    padding-bottom: 100px;
}

footer {
    opacity: 0.8;
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
ul {
    text-align: center;
}
ul li{
    list-style-type:none;
    /*margin-left: 90px;*/
    display: inline-block;
    padding: 0em 2em 0em 2em;
}

a {
    color: inherit;
    text-decoration: none;
}


/*
    nav
*/

.navigation {
    background: black;
    opacity: 0.9;
    position: fixed;
    padding: 10px;
    height: var(--NavHeight);
    width: 100%;
}

.nav_items{
    text-align: center;
}

.nav_item {
    position: relative;
    color: white;
    font-size: 30px;
}

.logo {
    alignment: left;
    width: 40px;
    height: var(--LogoHight);
}


.nav_item_logo {
    color: white;
}

/*
    main
*/

.contents {
    padding: var(--PaddingContent);
    alignment: center;
    width: auto; /*이렇게 해야 너비가 딱 맞게 나옴*/
    height: auto;
    /*padding-left: 20%;*/

    /*스크롤바 투명으로 만들기*/
    -ms-overflow-style: none;
}
/*스크롤바 투명으로 만들기*/
.contents::-webkit-scrollbar {
    display: none;
}

div.items {
    padding-top: 10px;
    width: 100%;
    height: auto;
    float: left;
}

.item_img {
    height: var(--ItemHeight);
    width: 30%;
}

.item_text {
    height: var(--ItemHeight);
    font-size: var(--ItemTextSZ);
    width: 70%;
}

.greeting {
    font-size: 30px;
}

.hello_text {
    font-size: 50px;
}

table{
    width:100%;
    text-align:left;
}
thead > tr > th{
    font-size:40px;
    padding-top:30px;
}
tbody > tr > th{
    font-size:20px;
}
td.name{
    width:15%;
    padding-left:5%;
}
/*
    footer
*/
.foot_text {
    color: gray;
}

.foot_license {
    color: white;
}

/*
    responsive web
*/

@media only screen and (max-width: 768px) {
    footer {
        height: auto;
    }
    .foot_text {
        color: gray;
        font-size: 0.7em;
    }

    .foot_license {
        font-size: 0.7em;
        color: white;
    }
    .navigation {
        height: var(--HalfNavHeight);
    }
    .nav_item {
        font-size: 1.0em;
    }
    .logo {
        /*height: var(--HalfLogoHight);*/
        height: 1.0em;
    }
    .item_img {
        height: var(--HalfItemHeight);
    }
    .item_text {
        height: var(--HalfItemHeight);
    }
    .contents {
        padding: 1em;
        font-size: 1.5em;
    }
}

