/*
    init
*/
backward {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
:root {
    --ItemHeight: 70px;
    --ItemTextSZ: 50px;
    --LogoHight: 40px;
    --NavFontsize: 30px;
    --NavHeight: 50px; /* fontsize+paddingtop */
    --PaddingContent: 70px; /* NavHeight+paddingtop */

    --HalfNavHeight: 1em;
    --HalfItemHeight: 35px;
    --HalfLogoHight: 20px;
    --HalfNavFontsize: 15px;
    --PaddingFoot: 120px;
}

html, body, div, span, ul, li,
nav, main, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: CookieRunOTF-Bold, sans-serif;
}

button, pre{
    font-family: CookieRunOTF-Bold, sans-serif;
}

nav, section, main {
    display: block;
}

pre{
    /*pre 자동줄바꿈*/
    white-space: pre-wrap;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}

progress{
    background-color: gray;
    border: 0;
    width: 100%;
    height: 30px;
}

progress::-webkit-progress-bar {
	margin:0 auto;
	background-color: #CCC;
	box-shadow:0px 0px 6px #777 inset;
}

progress::-webkit-progress-value {
	background: green;
	box-shadow:0px 0px 6px #777 inset;
}

.foot {
    opacity: 1;
    background: linear-gradient( to right, #a3e4ff, #78b9d3 );
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--PaddingFoot);
    text-align: center;
}
ul {
    text-align: center;
}
ul li{
    list-style-type:none;
    /*margin-left: 90px;*/
    display: inline-block;
    padding: 0em 2em 0em 2em;
}

a {
    color: inherit;
    text-decoration: none;
}


/*
    nav
*/

.navigation {
    background: linear-gradient( to right, #a3e4ff, #78b9d3 );
    opacity: 1;
    position: fixed;
    padding: 10px;
    height: var(--NavHeight);
    width: 100%;
    z-index: 1000;
}

.nav_items{
    text-align: center;
}

.nav_item {
    position: relative;
    color: white;
    font-size: 30px;
}

.nav_home{
    width: 40px;
    display: none;
}

.nav_ham{
    display: none;
    font-size: 30px;
}

.nav_side{
    display: none;
}

.logo {
    vertical-align: bottom;
    height: 45px;
    width: 170px;
}

.nav_item_logo {
    color: white;
}

.float_right{
    float: right;
}

.page{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing:5px;
}

/*
    main
*/

.contents {
    padding: var(--PaddingContent);
    padding-bottom: var(--PaddingFoot);
    align-items: center;
    /*중앙으로 보내기위해 넓이 지정*/
    width: 75%;
    /*footer 빈공간없애기위한 높이*/
    min-height: 100%;
    /*중앙정렬*/
    margin: 0 auto;
}

div.items {
    padding-top: 10px;
    width: 100%;
}

.item_img {
    width: 80%;
}

.item_text {
    font-size: var(--ItemTextSZ);
}

.greeting {
    font-size: 30px;
}

.hello_text {
    font-size: 50px;
}

.hr_w97{
    width: 97%;
}

.border_1{
    border: 1px solid #111;
}

.disp_inline{
    display: inline-block;
}

.svg{
    width: 80%;
    margin: 0 auto;
}

.journal_frame{
    display:block;
    width:100%;
    height: 100vh;
}

/*
    board
*/
.board_form{
    padding-top: 50px;
    font-size: 30px;
}

.board_form_title {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    font-size: 20px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 16px;
    font-family: CookieRunOTF-Bold, sans-serif;
}

.board_form_content{
    width:100%;
    border: 0px;
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box;
    /*사이즈조절 없애기*/
    resize: none;
    overflow: auto;
    font-family: CookieRunOTF-Bold, sans-serif;
}

.board_form_content::-webkit-scrollbar {
    display: none;
}

/*눌렀을 때 border없애기*/
textarea:focus, input:focus{
    outline: none;
}
/*
    table
*/
table{
    width:100%;
    text-align:left;
    /*table 위아래 조절*/
    border-collapse: separate;
    border-spacing: 0 30px;
}
thead > tr > th{
    font-size:40px;
}

tbody > tr > th{
    font-size:30px;
}
tbody > tr > td{
    font-size:20px;
}
td.name{
    padding-left:5%;
}

.board_tbl_num{
    min-width: 148px;
}

.board_tbl_date{
    min-width: 144px;
}

.board_ul_phone{
    display: none;
}

/*
    boardD
*/
.boardD_title{
    font-family: CookieRunOTF-Bold, sans-serif;
    padding-top: 30px;
    margin: 12px;
    font-size: 50px;
}

.boardD_content{
    font-family: CookieRunOTF-Bold, sans-serif;
    /*글자밖으로 나가는거 막기*/
    word-wrap: break-word;
    margin: 12px;
    font-size: 30px;
    overflow: auto;
    height: 500px;
}

.boardD_content::-webkit-scrollbar {
    display: none;
}

.boardD_modify{
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -100px;
}

/*
    button
*/

.delete_btn{
    border:0px solid red;
    border-radius: 3px;
    background-color: #FFCCCC;
    color: red;
    width:50px;
    height: 30px;
    cursor: pointer;
}

.edit_btn{
    border:0px solid black;
    border-radius: 3px;
    background-color: #CCD1FF;
    color:black;
    width:50px;
    height: 30px;
    cursor: pointer;
    font-family: CookieRunOTF-Bold, sans-serif;
}

/*
    developer
*/

.developer{
    font-size: 30px;
}

.developer_table{
    clear: both;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    background: black;
    border: 2px solid #aaa;
    border-left: 10px solid red;
}

.developer_table_img{
    width: 52px;
    padding: 2px 0px 2px 0.5em;
}

.developer_pop{
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px; 
    width: 100%;
    padding: 1px 0px;
    background-color: rgb(252, 255, 217);
    z-index: 1024;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-family: Arial"
}

.developer_rainbowt{
    text-align: center;
}

.developer_rainbow{
    position:relative;
    left:-110%;
    width:380%;
    z-index: 1;
}

.developer_img{
    width: 90%;
}

.developer_main{
    text-align: center;
}
/*
    footer
*/

.foot_text {
    color: gray;
}

.foot_license {
    color: white;
}

/*
    responsive web
*/

@media only screen and (max-width: 1024px) {
    .foot {
        height: auto;
    }
    .foot_text {
        color: gray;
        font-size: 0.7em;
    }

    .foot_license {
        font-size: 0.7em;
        color: white;
    }

    .item_text{
        width: 100%;
    }

    ul li{
        padding: 0 1em 0 0;
    }

    .navigation {
        height : 2.5em;
        padding : 5px;
        /*height: var(--HalfNavHeight);*/
    }

    .nav_item {
        display: none;
    }

    .nav_home{
        display: block;
        font-size: 1.5em;
        float: left;
    }

    .nav_ham{
        display: block;
        font-size: 1.5em;
    }

    .nav_side {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #78b9d3;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .nav_side a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .nav_side a:hover {
        color: #f1f1f1;
    }

    .nav_side .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .board_tbl_monitor{
        display: none;
    }

    .board_ul_phone{
        display: block;
        padding-top: 1em;
        text-align: left;
    }

    .board_li_phone{
        font-size: 20px;
        display: inline-block;
        width: 100%;
        padding: 1em 0 1em 0;
        border-bottom: 1px solid gray;
        overflow: hidden;
    }

    .board_div_phone{
        font-size: 25px;
        white-space:nowrap;
    }

    .edit_input{
        width: 30%;
    }

    .logo {
        vertical-align: bottom;
        width: 100%;
    }

    .contents {
        width: auto;
        padding: 1em 1em 5em 1em;
        min-height: 800px;
        font-size: 1.5em;
        overflow-x: hidden;
    }

    .item_text{
        font-size: 1.3em;
    }

    .item_img {
        width: 100%;
    }

    .slide{
        max-width: 2400px;
        padding-top: 1em;
    }

    .developer{
        font-size: 1em;
    }

    .developer_table_img{
        display: none;
    }
}

