{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        {{#board}}
            <div class="boardD_title">
                {{title}}
            </div>
            <hr>
            <div class="boardD_content">
                {{content}}
            </div>
            <div class="boardD_modify disp_inline">
                <form class="delete-form disp_inline" action="/dodelete/{{board_id}}" method="get">
                    <button class="delete_btn" id="delete-btn">delete</button>
                </form>
                <form class="edit_form disp_inline" action="/doedit/{{board_id}}" method="get">
                    <button class="edit_btn" id="edit-btn">edit</button>
                </form>
            </div>
        {{/board}}
    </section>
</main>
{{>layout/footer}}
