{{>layout/header}}
<main class="contents">
    <section>
        <table class="board_tbl_monitor">
            <colgroup>
                <col width="20%">
                <col width="*">
		<col width="10%">
                <col width="20%">
            </colgroup>
            <thead class="thead-strong">
            <tr>
                <th class="board_tbl_num">NO</th>
                <th class="board_tbl_title">제목</th>
                <th>작성자</th>
                <th class="board_tbl_date">최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#boardList}}
                <tr>
                    <td class="board_list">{{board_id}}</td>
                    <th>
                        <a href="/board/{{& board_id }}">
                            {{title}}
                        </a>
                    </th>
                    <td>{{writer}}</td>
                    <td class="over_hidden">{{created_time}}</td>
                </tr>
            {{/boardList}}
            </tbody>
        </table>
        <ul class="board_ul_phone">
            {{#boardList}}
                <li class="board_li_phone">
                    <a href="/board/{{& board_id }}">
                        <div class="board_div_phone">
                            {{title}}
                        </div>
                    </a>
                    <br>
                    {{writer}}
                    <br>
                    {{created_time}}
                </li>
            {{/boardList}}
        </ul>
        <a class="float_right" href="/post">추가하기</a>
        <form action="/board/search" method="get">
            <div>
                <input class="edit_input" name="keyword" type="text" placeholder="제목으로 검색">
                <button class="edit_btn">검색</button>
            </div>
        </form>
        <div class="page">
            {{#pageList}}
                <a href="/board?page={{.}}">{{.}}</a>
            {{/pageList}}
        </div>
    </section>
</main>
{{>layout/footer}}
