{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <table>
            <thead class="thead-strong">
            <tr>
                <th class="board_table_num">게시글 번호</th>
                <th class="board_table_title">제목</th>
                <th class="board_table_date">최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#boardList}}
                <tr>
                    <td class="board_list">{{board_id}}</td>
                    <th>
                        <a href="/board/{{& board_id }}">
                            {{title}}
                        </a>
                    </th>
                    <td>{{created_time}}</td>
                </tr>
            {{/boardList}}
            </tbody>
        </table>
        <a href="/post">추가하기</a>
    </section>
</main>
{{>layout/footer}}
