{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        {{#board}}
            {{title}}
            <br>
            {{content}}
            <a href="/post/edit/{{board_id}}"><button>edit</button></a>
            <form id="delete-form" action="/post/{{board_id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="password" name="pw">
                <button id="delete-btn">delete</button>
            </form>
        {{/board}}
    </section>
</main>
{{>layout/footer}}
