{{>layout/header}}
<main class="contents">
    <section>
        {{#board}}
            <div class="boardD_title">
                {{title}}
            </div>
            <hr>
            <div class="boardD_content">
                <pre>{{content}}</pre>
            </div>
            <div class="disp_inline">
<!--                <a href="/dodelete/{{board_id}}"><button class="delete_btn" id="delete-btn">delete</button></a>-->
<!--                <a href="/doedit/{{board_id}}"><button class="edit_btn" id="edit-btn">edit</button></a>-->
                <form class="delete-form disp_inline" action="/dodelete/{{board_id}}" method="get">
                    <button class="delete_btn" id="delete-btn">삭제</button>
                </form>
                <form class="edit_form disp_inline" action="/doedit/{{board_id}}" method="get">
                    <button class="edit_btn" id="edit-btn">수정</button>
                </form>
            </div>
        {{/board}}
    </section>
</main>
{{>layout/footer}}
