{{>layout/header}}
<main class="contents">
    <section>
        <pre class="developer">
안녕하세요 알파벳 개발자 김태훈입니다
알파벳은 올해 초에 시작해서 5월까지 진행되었던 프로젝트로, 최초에는 아주 간단한 서비스 몇 가지만을 제공하기 위해 계획되었습니다
하지만 계속해서 요구사항이 추가되었고 잦은 리팩토링을 거쳐 현재의 모습까지 왔습니다

여기서는 프로젝트가 어떻게 진행되었고, 어떤 과정을 거쳐 현재까지 왔는지 편안한 마음으로 되돌아보려 합니다
이런 이유로 이 글은 중구난방에 주제를 벗어나 🐶💭를 하고 있는데 넓은 마음으로 양해 부탁드리겠습니다
        </pre>
        <br>
        <table class="developer_table">
            <tbody>
            <tr>
                <td class="developer_table_img">
                    <img alt="hahaha" src="/img/sunder.png" width="195" height="172"/>
                </td>
                <td style="padding: 8px; font-size:200%;">
                    <span style="color:red;">
                        <b>
                            <big>
                                <big>
                                [주의] 이 문서는
                                <big>남탓</big>
                                만 합니다.
                                </big>
                            </big>
                        </b>
                        <span>
                        <br/>
                        <span style="color:white">공공장소나 부모님이 계시는곳에서는 이 문서 열람을 자제해주시기 바랍니다.</span>
                        </span>
                    </span>
                </td>
                <td class="developer_table_img">
                    <img alt="jajaja" src="/img/jostar.png" width="270" height="250"/>
                </td>
            </tr>
            </tbody>
        </table>
        <br><br><br>
        <div class="developer_pop">
            <p>
                <span style="width: 95%; font-size: 13px; margin: 3px 0px 3px 3px; float: left;">
                    <img alt="Active X 2016-07-30 13-48.png" src="/img/Active_X_2016-07-30_13-48.png" width="19" height="21"/>
                        이 페이지에서 'molamola nado mola Inc.'에서 배포한 '
                        <span style="color:red;">김갑생할머니김</span>
                        '을 가져가려고 합니다. 우
                        <b>리</b>
                        를 신뢰할 수 있고 압수를 원하는 경우
                        <a style="color: #52e252">이곳</a>
                        을 클릭하십시오.
                        </span>
                    <span style="position: absolute; right: 5px; line-height: 19px; font-size: 20px;">
                    <span title="닫기" class="fakelinks" style="cursor: pointer; color: #002bb8;">×</span>
                </span>
            </p>
        </div>
        <div style="position:relative;left:-110%;width:380%">
            <div style="-webkit-transform: rotate(-15deg); transform: rotate(-15deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #CD1039;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(-10deg); transform: rotate(-10deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #FFb400;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(-5deg); transform: rotate(-5deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #fff56e;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(0deg); transform: rotate(0deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #52e252;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(5deg); transform: rotate(5deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #0064ff;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(10deg); transform: rotate(10deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #0000cd;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(15deg); transform: rotate(15deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #a390ee;border-radius: 4px;"></div>
        </div>
        <br><br>
        <div style="padding: 15px; margin: 0px; margin-top: 15px; border: 3px solid #ffffff; background-color: #ffffff; border-radius: 4px;">
            <div class="developer_rainbow" style="text-aline:center; font-size: 16pt; color: #000000; ">
                <b>
                    받 아 라 무 지 개 빔
                </b>
            </div>
            <div style="margin-top: .5em; color: #000000;"></div>
        </div>
        <br><br><br>
        <table style="clear: both; width: 80%; margin: 0 auto; border-collapse: collapse; background: #FF5C5C; border: 1px solid #aaa; &#123;&#123;#if:&#124;border-right: 10px solid #1e90ff; &#125;&#125;border-left: 10px solid #FF4040; font-family: Arial">
            <tbody>
            <tr>
                <td style="padding: 8px; font-size:95%;">
                    <b>이 문서 너무나도 위험합니다!</b>
                    <br/>
                    <span style="color:#000000">
                                                    부디 이 문서를 읽고 과제를 하러 돌아오소서!
                                                    <hr/>
                                                    <p>이 문서를 읽고 과제를 제출하지 못하거나 출첵에 빠지는 등의 피해를 입어도 절대 책임지지 않습니다.
                                                    </p>
                                                </span>
                </td>
            </tr>
            </tbody>
        </table>
        <pre class="developer">

            자주 사용하는 용어
기술 부채: 기능을 급하게 추가해서 효율적이지 않은 코드로 생산한 기술, 언젠가는 고쳐야 해서 부채라고함
FE: 쉽게 말하면 디자인
BE: 개발자가 담당하는 프로그램의 안보이는 부분(기술 부채가 주로 쌓이는 장소)
리팩토링: 다시 고친다는 의미

<strike style="color: #CD1039">진짜진짜 진심으로 아무것도 하기 싫다</strike>
마땅히 할건 없고, 남들하는 인공지능, 블록체인으로 복붙하기는 또 싫고
그냥 우연히 본 깃허브 프로필에 뱃지를 보고 이거나 해야겠다 해서 주제를 정했습니다

대충 소스 살펴보는데 생각보다 기능도 단순하고, 구현 어떻게해야하는지 보이길래 구현도 했네요
(사용된 기술도 어차피 카카X 2차 기출이랑 비슷함 <strike>근데 전 2차 광탈ㅋㅋ</strike>)
<img class="developer_img" src="/img/nobody.png">
            
            
물론 급하게 올린 서비스다보니 기술부채는 어마어마하게 쌓였습니다
컨트롤러는 조잡하고, 알고리즘은 끔찍했습니다
DB는 없고, 데이터는 하드코딩으로....(<strike>그만큼 급하셨다는거지</strike>)

이런 거지같은 코드를 스파게티 코드라고하는데
제가 요리사인줄 이때 알게됬네요(<strike>철이 없었죠 요리가 좋아 개발을 했다는게...</strike>)

시작부터 망했는데 교수님은 기능 추가하라고 요구사항을 쏟아냅니다
그리고 기능하나 들어올때마다 기술부채는 쌓여만 갑니다(<strike>받아라 똥코드~</strike>)
<img src="/img/siba.png" width="270" height="250">

이렇게 기술부채는 쌓였는데 꼴에 OOP, RDB 하나만 배워도 어려운 두 담론위에 올려진 ORM을 건드려서 진입장벽은 대학교를 떠났습니다

잘 마무리 할 수 있겠죠? 응원해주세요
<img class="developer_img" alt="졸업~~~~~" src="/img/ending.png">
<strike>아무것도 모르겠고 대충 졸업은 시켜주세요.png</strike>
        </pre>
    </section>
</main>
{{>layout/footer}}
