{{>layout/header}}
<main class="contents">
    <section>
        <pre class="developer">
안녕하세요 알파벳 개발자 김태훈입니다
알파벳은 올해 초에 시작해서 5월까지 진행되었던 프로젝트로, 최초에는 아주 간단한 서비스 몇 가지만을 제공하기 위해 계획되었습니다
하지만 계속해서 요구사항이 추가되었고 잦은 리팩토링을 거쳐 현재의 모습까지 왔습니다

여기서는 프로젝트가 어떻게 진행되었고, 어떤 과정을 거쳐 현재까지 왔는지 편안한 마음으로 되돌아보려 합니다
이런 이유로 이 글은 중구난방에 주제를 벗어나 🐶💭를 하고 있는데 넓은 마음으로 양해 부탁드리겠습니다
        </pre>
        <br>
        <table class="developer_table">
            <tbody>
            <tr>
                <td class="developer_table_img">
                    <img alt="hahaha" src="/img/sunder.png" width="195" height="172"/>
                </td>
                <td style="padding: 8px; font-size:200%;">
                    <span style="color:red;">
                        <b>
                            <big>
                                <big>
                                [주의] 이 문서는
                                <big>남탓</big>
                                만 합니다.
                                </big>
                            </big>
                        </b>
                        <span>
                        <br/>
                        <span style="color:white">공공장소나 부모님이 계시는곳에서는 이 문서 열람을 자제해주시기 바랍니다.</span>
                        </span>
                    </span>
                </td>
                <td class="developer_table_img">
                    <img alt="jajaja" src="/img/jostar.png" width="270" height="250"/>
                </td>
            </tr>
            </tbody>
        </table>
        <br><br><br>
        <div class="developer_pop">
            <p>
                <span style="width: 95%; font-size: 13px; margin: 3px 0px 3px 3px; float: left;">
                    <img alt="Active X 2016-07-30 13-48.png" src="/img/Active_X_2016-07-30_13-48.png" width="19" height="21"/>
                        이 페이지에서 'molamola nado mola Inc.'에서 배포한 '
                        <span style="color:red;">김갑생할머니김</span>
                        '을 가져가려고 합니다. 우
                        <b>리</b>
                        를 신뢰할 수 있고 압수를 원하는 경우
                        <a style="color: #52e252">이곳</a>
                        을 클릭하십시오.
                        </span>
                    <span style="position: absolute; right: 5px; line-height: 19px; font-size: 20px;">
                    <span title="닫기" class="fakelinks" style="cursor: pointer; color: #002bb8;">×</span>
                </span>
            </p>
        </div>
        <div class="developer_rainbow">
            <div style="-webkit-transform: rotate(-15deg); transform: rotate(-15deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #CD1039;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(-10deg); transform: rotate(-10deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #FFb400;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(-5deg); transform: rotate(-5deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #fff56e;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(0deg); transform: rotate(0deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #52e252;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(5deg); transform: rotate(5deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #0064ff;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(10deg); transform: rotate(10deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #0000cd;border-radius: 4px;"></div>
            <div style="-webkit-transform: rotate(15deg); transform: rotate(15deg); padding: 5px; margin: 15px 0 0; border: 0 none; background-color: #a390ee;border-radius: 4px;"></div>
        </div>
        <br><br>
        <div style="padding: 15px; margin: 0px; margin-top: 15px; border: 3px solid #ffffff; background-color: #ffffff; border-radius: 4px;">
            <div class="developer_rainbowt" style="text-aline:center; font-size: 16pt; color: #000000; ">
                <b>
                    받 아 라 무 지 개 빔
                </b>
            </div>
            <div style="margin-top: .5em; color: #000000;"></div>
        </div>
        <br><br><br>
        <table style="clear: both; width: 80%; margin: 0 auto; border-collapse: collapse; background: #FF5C5C; border: 1px solid #aaa; &#123;&#123;#if:&#124;border-right: 10px solid #1e90ff; &#125;&#125;border-left: 10px solid #FF4040; font-family: Arial">
            <tbody>
            <tr>
                <td style="padding: 8px; font-size:95%;">
                    <b>이 문서 너무나도 위험합니다!</b>
                    <br/>
                    <span style="color:#000000">
                                                    부디 이 문서를 읽고 과제를 하러 돌아오소서!
                                                    <hr/>
                                                    <p>이 문서를 읽고 과제를 제출하지 못하거나 출첵에 빠지는 등의 피해를 입어도 절대 책임지지 않습니다.
                                                    </p>
                                                </span>
                </td>
            </tr>
            </tbody>
        </table>
        <pre class="developer">
<strike style="color: gray; font-style: italic">아직 망한건 아니야!</strike>
우리 12조 <big style="color: mediumpurple">투표</big>해주세요<strike style="color: gray; font-style: italic">스벅 깊콘을 드립니다!</strike>
함께 <big style="color: dodgerblue">미래</big>를 <big style="color: dodgerblue">설계</big>해나갈 개발자를 구합니다<strike style="color: gray; font-style: italic">다단계아니고 휴먼 네트워크 마케팅</strike>
<big style="color: red">돈</big>에 <big style="color: red">지배</big>받지 <big style="color: red">않고</big>, <big style="color: red">자신이</big> 돈을 <big style="color: red">지배</big>하는 삶을 사실분 연락주세요<strike style="color: gray; font-style: italic">저는 돈에 지배받습니다ㅋ</strike>
<big style="color: limegreen">매드몬스터</big> 콘서트가실 <big style="color: limegreen">포켓몬</big> 없나요?
<big style="color: hotpink">열쩡 열쩡 열쩡</big>

"푸흐--, "

"불면은 구멍이 뚫리는 커다란 솜사탕."
-클릭하자마자 <big style="color: red">위험한</big> 조직보스 <big style="color: red">애인</big> 돼버리는 playlist<strike style="color: gray; font-style: italic">이륙허가</strike>

-엄마 저 아이의 이름은 왜 <big style="color: red">장미</big>예요?
:그건 저 아이의 엄마가 <big style="color: red">장미</big>를 좋아하기 때문이란다
-그럼 <big style="color: cornflowerblue">저</big>는요?
:좋은 질문이구나 <big style="color: mediumseagreen">초록남방전야카이야</big>

나 웃음이 많은 여자였구나<strike style="color: gray; font-style: italic">ㅋㅋㅋㅋㅋㅋ</strike>

<big style="color: deeppink">꾸러기</big> 표정 금지, <big style="color: hotpink">입술</big> 깨물기 금지

<😀> <😆><😁> <😊>
  ㅣ     ㅣ    ㅣ    ㅣ
／＼ ／＼ ／＼ ／＼


알파벳 개발기 요약

<div class="developer_main">서론</div>
평소 개발에 관심이 많은<strike style="color: gray; font-style: italic">개소리다</strike> 학회장 김태훈은 우연한 계기로 깃허브 프로필 뱃지 서비스를 보고 해볼만하다 싶어 개발을 시작했다<strike style="color: gray; font-style: italic">내가 그때 미쳤다 말려줘</strike>

<div class="developer_main">본론</div>
계획에 없던 코로나 상황으로 비대면 진행이 불가피하였지만, 침착하고 착실하게<strike style="color: gray; font-style: italic">휴학 준비</strike> 프로잭트를 진행했다
처음에는 의사 소통에 많은 문제가 있었지만 깃, 슬랙, 카톡, 이메일 등 다양한 방법을 이용하여<strike style="color: gray; font-style: italic">대환장파티</strike> 이러한 문제점들을 보완했다
스프링 부트, JPA, AWS 등 최신 기술들을 <strike style="color: gray; font-style: italic">덕지덕지</strike>활용하여 여러 기능을 구현했다<strike style="color: gray; font-style: italic">전부 똥코드다</strike>

<div class="developer_main">결론</div>
졸업시켜쥬데요

알파벳 개발기 본문

<div class="developer_main">자주 사용하는 용어</div>
기술 부채: 기능을 급하게 추가해서 효율적이지 않은 코드로 생산한 기술, 언젠가는 고쳐야 해서 부채라고함
FE: 쉽게 말하면 디자인
BE: 개발자가 담당하는 프로그램의 안보이는 부분(기술 부채가 주로 쌓이는 장소)
리팩토링: 다시 고친다는 의미

<div class="developer_main">개발 배경</div>
<strike style="color: #CD1039">진짜진짜 진심으로 아무것도 하기 싫다</strike>
마땅히 할건 없고, 남들하는 인공지능, 블록체인으로 복붙하기는 또 싫고
그냥 우연히 본 깃허브 프로필 뱃지 서비스를 보고 이거나 해야겠다 해서 주제를 정했습니다

대충 소스 살펴보는데 생각보다 기능도 단순하고, 시스템 구조도 단순해서 구현까지 했습니다
(사용된 기술도 어차피 카카X 2차 기출이랑 비슷함 <strike>근데 전 2차 광탈ㅋㅋ</strike>)
<img class="developer_img" src="/img/nobody.png">
            
<div class="developer_main">개발 진행 과정</div>
급하게 올린 서비스다보니 기술부채는 어마어마하게 쌓였습니다
컨트롤러는 조잡하고, 알고리즘은 끔찍했습니다
DB는 없고, 데이터는 하드코딩으로....(<strike>그만큼 급하셨다는거지</strike>)

이런 거지같은 코드를 스파게티 코드라고하는데
저는 제가 요리사인줄 이때 알게됬습니다(<strike>철이 없었죠 요리가 좋아 개발을 했다는게...</strike>)

시작부터 망했는데 교수님은 기능 추가하라고 요구사항을 쏟아냅니다
기능하나 들어올때마다 기술부채는 쌓여만 갑니다...(<strike>받아라 똥코드~</strike>)
<img src="/img/siba.png" width="270" height="250">

<div class="developer_main">개발 마무리</div>
이렇게 기술부채는 쌓였는데 꼴에 OOP, RDB 하나만 배워도 어려운 두 담론위에 올려진 ORM을 건드려서 진입장벽은 대학교 수준을 떠났습니다

잘 마무리 할 수 있겠죠? 응원해주세요
<img class="developer_img" alt="졸업~~~~~" src="/img/ending.png">
<strike>아무것도 모르겠고 대충 졸업은 시켜주세요.png</strike>
        </pre>
    </section>
</main>
{{>layout/footer}}
