{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <div class="items">
            <div class="item_text">
                <p>가입<p>
                <p>신청서는 <a href="https://docs.google.com/forms/d/e/1FAIpQLScYzoDX3uoUGX05q1zHWq9pmhadLxmH3NqyqqpSHvCb_j_qPg/viewform?usp=sf_link" style="color: red">여기서!</a></p>
            </div><br><br><br><br>
            <div class="item_text">
                <p>문의</p>
                <p>슬랙은 <a href="https://join.slack.com/t/uhs-corp/shared_invite/zt-q7tnb1hi-vBUHwgz3QaqyrKY2WQeGHQ" style="color: red">여기로!</a></p>
            </div>
        </div>
    </section>
</main>
{{>layout/footer}}
