{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <div class="items">
            <div class="item_text">
                <p class="hello_text">가입 및 문의<p>
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScYzoDX3uoUGX05q1zHWq9pmhadLxmH3NqyqqpSHvCb_j_qPg/viewform?usp=sf_link">신청서 작성</a></p>
            </div>
        </div>
    </section>
</main>
{{>layout/footer}}
