{{>layout/header}}
<div class="contents_container">
    <div class="navbar">
        <div class="navbar_logo_container">
            <a href="/">
                <img class="navbar_logo" src="/img/abcblock.svg">
            </a>
        </div>
        <div class="navbar_nav_container">
            <ul>
                <li class="nav_item"><a href="/introduction">소개</a></li>
                <li class="nav_item"><a href="/history">기록</a></li>
                <li class="nav_item"><a href="/contact">가입 및 문의</a></li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="pad">
            <span class="subtitle">가입 및 문의</span>
            <h1>문구</h1>
        </div>
        <div class="row pad">
            <div class="p25">
                <h2>가입</h2>
            </div>
            <div class="p75">
                <p>
                    협성대학교 학부생이라면 누구나 19학번부터 함께할 수 있습니다.
                </p>
                <p>
                    신청은 <a href="https://docs.google.com/forms/d/e/1FAIpQLScYzoDX3uoUGX05q1zHWq9pmhadLxmH3NqyqqpSHvCb_j_qPg/viewform?usp=sf_link">여기서!</a>
                </p>
            </div>
        </div>
        <div class="row pad">
            <div class="p25">
                <h2>slack</h2>
            </div>
            <div class="p75">
                <p>
                    <a href="https://uhs-corp.slack.com">슬랙</a>
                </p>
            </div>
        </div>
        <div class="row pad">
            <div class="p25">
                <h2>문의</h2>
            </div>
            <div class="p75">
                <p>
                    dkssudvn2@gmail.com으로 문의 부탁드립니다.
                </p>
            </div>
        </div>
        <div class="row pad">
            <div class="p25">
                <h2>회장단</h2>
            </div>
            <div class="p75">
                <h3>2021년 - 현재</h3>
                <table style="margin-top: 16px">
                    <tr>
                        <td>김태훈</td>
                        <td>학회장</td>
                        <td>dkssudvn2@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_item_container">
        <div class="footer_item">
            <div>
                <div class="left">
                    uhs-alphabet
                </div>
                <div class="right">
                    18330<br>
                    경기도 화성시 봉담읍 최루백로 72<br>
                </div>
            </div>
        </div>
        <div class="footer_item">
            <div>
                <div class="left">
                    학회장
                </div>
                <div class="right">
                    김태훈<br>
                </div>
            </div>

        </div>
    </div>
    <div class="footer_desc">
        <span class="copyright">© 2020—2021 alphabet</span>
        <ul>
            <li><a href="https://www.acmicpc.net/group/10327" target="_blank">BOJ 그룹</a></li>
            <li><a href="https://solved.ac" target="_blank">solved.ac</a></li>
        </ul>
    </div>
</div>
{{>layout/footer}}
