{{>layout/header}}
<main class="contents">
    <section>
        <div class="boardD_modify disp_inline">
            <form class="delete-form disp_inline" action="/post/{{id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="password" name="pw">
                <button class="delete_btn" id="delete-btn">삭제</button>
            </form>
        </div>
    </section>
</main>
{{>layout/footer}}
