{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <div class="boardD_modify disp_inline">
            <form class="edit_form disp_inline" action="/post/edit/{{id}}" method="get">
                <input type="hidden" name="_method" value="put"/>
                <input type="password" name="pw">
                <button class="edit_btn" id="edit-btn">edit</button>
            </form>
        </div>
    </section>
</main>
{{>layout/footer}}
