{{>layout/header}}
<main class="contents">
    <section>
        <div class="boardD_modify disp_inline">
            <form class="edit_form disp_inline" action="/post/edit/{{id}}" method="get">
                <input type="hidden" name="_method" value="put"/>
                <input type="password" name="pw">
                <button class="edit_btn" id="edit-btn">수정</button>
            </form>
        </div>
    </section>
</main>
{{>layout/footer}}
