{{>layout/header}}
<div class="contents_container">
    <div class="navbar">
        <div class="navbar_logo_container">
            <a href="/">
                <img class="navbar_logo" src="/img/abcblock.svg">
            </a>
        </div>
        <div class="navbar_nav_container">
            <ul>
                <li class="nav_item"><a href="/introduction">소개</a></li>
                <li class="nav_item"><a href="/history">기록</a></li>
                <li class="nav_item"><a href="/contact">가입 및 문의</a></li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="pad">
            <span class="subtitle">기록</span>
            <h1>매년 여러 대회에 참가해 우수한 성적을 거두고 있습니다.</h1>
        </div>
        <div class="pad">
            <span class="subtitle">기록</span>
            <h1>동아리 구성원들의 기록을 볼 수 있습니다.</h1>
        </div>

    </div>
</div>
<div class="footer">
    <div class="footer_item_container">
        <div class="footer_item">
            <div>
                <div class="left">
                    uhs-alphabet
                </div>
                <div class="right">
                    18330<br>
                    경기도 화성시 봉담읍 최루백로 72<br>
                </div>
            </div>
        </div>
        <div class="footer_item">
            <div>
                <div class="left">
                    학회장
                </div>
                <div class="right">
                    김태훈<br>
                </div>
            </div>

        </div>
    </div>
    <div class="footer_desc">
        <span class="copyright">© 2020—2021 alphabet</span>
        <ul>
            <li>비공개</li>
        </ul>
    </div>
</div>
{{>layout/footer}}