{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <div class="items">
            <div class="item_text">
                <p class="hello_text">기록<p>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th colspan="3">Kick start</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>2020</th>
            </tr>
            <tr>
                <td class="name">김태훈</td>
                <td>Round E</td>
                <td>2386 (Korea 53)</td>
            </tr>
            <tr>
                <td></td>
                <td>Round F</td>
                <td>2290 (Korea 43)</td>
            </tr>
            <tr>
                <td class="name">박창우</td>
                <td>Round E</td>
                <td>8338 (Korea 96)</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
{{>layout/footer}}