{{>layout/header}}
<div class="content_Container">
    <div class="navbar">
        <div class="navbar_logo_container">
            <!--            todo: Fix broken svg -->
            <a href="/">
            <img class="navbar_logo" src="/static/img/abc-block.svg" alt="sad">
            </a>
        </div>
        <div class="navbar_nav_container">
            <ul>
                <li class="nav_item"><a href="/introduction">소개</a></li>
                <li class="nav_item"><a href="/history">기록</a></li>
                <li class="nav_item"><a href="/contact">가입 및 문의</a></li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <pad>
            <div class="main_title">
                keep calm<br>
                and solve on
            </div>
            <p class="main_desc text">
                협성대학교 컴퓨터공학과 알고리즘 동아리 알파벳<br>
            </p>
        </pad>
        <div class="pad">
            <span class="subtitle">기록</span>
            <h1>동아리 구성원들의 성적을 볼 수 있습니다.</h1>
        </div>

    </div>
</div>
{{>layout/footer}}