{{>layout/header}}
<div class="contents_container">
    <div class="navbar">
        <div class="navbar_logo_container">
            <a href="/">
                <img class="navbar_logo" src="/img/abcblock.svg">
            </a>
        </div>
        <div class="navbar_nav_container">
            <ul>
                <li class="nav_item"><a href="/introduction">소개</a></li>
                <li class="nav_item"><a href="/history">기록</a></li>
                <li class="nav_item"><a href="/contact">가입 및 문의</a></li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="pad">
            <div class="main_title text">
                keep calm<br>
                and solve on
            </div>
            <p class="main_desc text">
                협성대학교 컴퓨터공학과 알고리즘 동아리 알파벳<br>
            </p>
        </div>
        <div class="row pad">
            <div class="p25">
                <h2>소개</h2>
            </div>
            <div class="p75">
                <h1>우리는 알고리즘을 배우고, 문제 해결 능력을 키웁니다. <a href="/introduction"><i class="material-icons main">이동</i></a></h1>
            </div>
        </div>
        <div class="hr"></div>
        <div class="row pad">
            <div class="p25">
                <h2>기록</h2>
            </div>
            <div class="p75">
                <h1>학우들의 기록을 볼 수 있습니다.<a href="/history"><i class="material-icons main">이동</i></a></h1>
            </div>
        </div>
        <div class="hr"></div>
        <div class="row pad">
            <div class="p25">
                <h2>가입 및 문의</h2>
            </div>
            <div class="p75">
                <h1>협성대학교 학부생이라면, 누구나 참여 가능합니다. <a href="/contact"><i class="material-icons main">이동</i></a></h1>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer_item_container">
        <div class="footer_item">
            <div>
                <div class="left">
                    uhs-alphabet
                </div>
                <div class="right">
                    18330<br>
                    경기도 화성시 봉담읍 최루백로 72<br>
                </div>
            </div>
        </div>
        <div class="footer_item">
            <div>
                <div class="left">
                    학회장
                </div>
                <div class="right">
                    김태훈<br>
                </div>
            </div>

        </div>
    </div>
    <div class="footer_desc">
        <span class="copyright">© 2020—2021 alphabet</span>
        <ul>
            <li><a href="https://www.acmicpc.net/group/10327" target="_blank">BOJ 그룹</a></li>
            <li><a href="https://solved.ac" target="_blank">solved.ac</a></li>
        </ul>
    </div>
</div>
{{>layout/footer}}
