{{>layout/header}}
<nav class="navigation">
    <ul class="nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
    </ul>
</nav>
<main class="contents">
    <div class="items">
        <div class="slide" style="max-width: 2400px; height: 500px">
            <img class="mySlides" src="/img/img1.jpg" style="width: 100%; height: 100%">
            <img class="mySlides" src="/img/img2.jpg" style="width: 100%; height: 100%">
        </div>

        <div class="greeting">
            <p>안녕하세요 협성대학교 알고리즘 동아리 알파벳입니다.🙂</p>
            <p>언제나, 누구든, 어디에있든, 참여 할 수 있어요!</p>
        </div>

        <div class="item_text">
            <p class="hello_text">hello
            <p>
        </div>
    </div>
</main>
<div class="foot" style="clear: both;">
    <div class="foot_text">
        <p>주소: 경기도 화성시 봉담읍 최루백로 72 협성대학교</p>
    </div>
    <div class="foot_text">
        <a href="https://www.uhs.ac.kr/sites/uhs/index.do">협성대학교 / </a>
        <a href="https://www.acmicpc.net/group/10327">협성대학교 boj 그룹 / </a>
        <a href="https://www.acmicpc.net/group/10868">알파벳 boj 그룹</a>
    </div>
    <div class="foot_license">
        <p>Copyright 2021. 김태훈 all rights reserved.</p>
    </div>
</div>

{{>layout/footer}}
