{{>layout/header}}
<nav class = "navigation">
        <ul class = "nav_items">
            <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
            <li class="nav_item"><a href="/introduction">소개</a></li>
            <li class="nav_item"><a href="/history">기록</a></li>
            <li class="nav_item"><a href="/contact">가입</a></li>
        </ul>
</nav>
<main class="contents">
        <div class="items" style="max-width: 2400px; max-height: 200px">
            <div class="slide">
                <img class="mySlides" src="/img/img1.jpg" style="width: 100%; height: 100%">
                <img class="mySlides" src="/img/img2.jpg" style="width: 100%; height: 100%">
            </div>

            <div class="greeting">
                <p>안녕하세요 협성대학교 알고리즘 동아리 알파벳입니다.🙂</p>
                <p>언제나, 누구든, 어디에있든, 참여 할 수 있어요!</p>
            </div>

            <div class="item_text">
                <p class="hello_text">hello<p>
            </div>
        </div>
</main>

{{>layout/footer}}
