{{>layout/header}}
<div class="content_Container">
    <div class="navbar">
        <div class="navbar_logo_container">
            <!--            todo: Fix broken svg -->
            <a href="/">
            <img class="navbar_logo" src="/static/img/abc-block.svg" alt="sad">
            </a>
        </div>
        <div class="navbar_nav_container">
            <ul>
                <li class="nav_item"><a href="/introduction">소개</a></li>
                <li class="nav_item"><a href="/history">기록</a></li>
                <li class="nav_item"><a href="/contact">가입 및 문의</a></li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <pad>
            <div class="main_title">
                keep calm<br>
                and solve on
            </div>
            <p class="main_desc text">
                협성대학교 컴퓨터공학과 알고리즘 동아리 알파벳<br>
            </p>
        </pad>
        <div class="row pad first_paragraph">
            <div class="p25">
                <h2>이곳은</h2>
            </div>
            <div class="p75">
                협성대학교 컴퓨터공학과 알고리즘 동아리입니다.
                2020년에 김태훈(본인) 학우가 google kickstart 참가를 위해 혼자 공부하다가 학교에 알고리즘 동아리가 없는걸 보고 하나 만든게 시작입니다.
            </div>
        </div>

    </div>
</div>
{{>layout/footer}}
