{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <iframe src="/pdf/helloAlphabet.pdf" width="100%", height="600px"></iframe>
    </section>
</main>
{{>layout/footer}}
