{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
        <li class="nav_item"><a href="/board">게시판</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <form class="board_form" action="post" method="post">
            <div class="border_1">
                <input class="board_form_title" type="text" name="title" placeholder="제목을 입력하세요">
                <hr class="hr_w97">
                <textarea class="board_form_content" name="content" rows="8" placeholder=""></textarea>
            </div>
            <div>
                <label>password</label>
                <input type="password" name="pw">
            </div>
            <input class="edit_btn" type="submit" value="post">
        </form>
    </section>
</main>
{{>layout/footer}}
