{{>layout/header}}
<nav class = "navigation">
    <ul class = "nav_items">
        <li class="nav_item_logo"><a href="/"><img class="logo" src="/img/Wabcblock.svg"></a></li>
        <li class="nav_item"><a href="/introduction">소개</a></li>
        <li class="nav_item"><a href="/history">기록</a></li>
        <li class="nav_item"><a href="/contact">가입</a></li>
    </ul>
</nav>
<main class="contents">
    <section>
        <div class="items">
            <div class="item_text">
                {{person.name}}
            </div>
        </div>
    </section>
</main>
{{>layout/footer}}
