{{>layout/header}}
<main class="contents">
    <section>
        <form class="board_form" action="/post/edit/{{boardDto.board_id}}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="board_id" value="{{boardDto.board_id}}"/>
            <input type="hidden" name="writer" value="{{boardDto.writer}}"/>
            <input type="hidden" name="cteated_time" value="{{boardDto.created_time}}"/>
            <input type="hidden" name="pw" value="{{boardDto.pw}}">
            <div class="border_1">
                <input class="board_form_title" type="text" name="title" value="{{boardDto.title}}"/>
                <hr class="hr_w97">
                <textarea class="board_form_content" name="content" rows="8" placeholder="">{{boardDto.content}}</textarea>
            </div>
            <input class="edit_btn" type="submit" value="수정">
        </form>
    </section>
</main>
{{>layout/footer}}
